@tailwind utilities;

:root {
  --background: #efebe0;
  --foreground: #2f2f2f;

  --primary: #727361;
  --primary-dark: #4f5039;
  --primary-50: #a6a79b;
  --primary-30: #cbcbc4;

  --destructive: #ae4d4d;
  --destructive-foreground: #ffffff;

  --accent: #f6f4ef;
  --accent-foreground: #2f2f2f;

  --muted: #585858;
  --muted-foreground: #bcbcbc;

  --border: #dedede;
  --input: #cbcbc4;

  --ring: #a6a79b;

  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: white;

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-border: var(--border);
  --color-input: var(--input);

  --color-ring: var(--ring);

  --radius: var(--radius);
}
